<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<title>Mortgage Calculator</title>
</h:head>
<h:body>
	<div class="container">
		<f:view>
			<h:form>
				<table class="table-bordered" style="margin-top: 4rem">

					<tr>
						<td width="180">Principle</td>
						<td width="320"><h:inputText id="principle"
								value="#{webServiceBean.principle}" required="true"
								requiredMessage="Please enter the principle"
								validatorMessage="Principle must be greater than or equal to 1000">
								<f:converter converterId="javax.faces.Double" />
								<f:validateDoubleRange minimum="1000" />
							</h:inputText></td>
					</tr>
					<tr>
						<td>Interest Rate:</td>
						<td><h:selectOneListbox
								value="#{webServiceBean.interestRate}" size="3">
								<f:selectItem itemValue="0.01" itemLabel="0.01" />
								<f:selectItem itemValue="0.02" itemLabel="0.02" />
								<f:selectItem itemValue="0.03" itemLabel="0.03" />
								<f:selectItem itemValue="0.04" itemLabel="0.04" />
								<f:selectItem itemValue="0.05" itemLabel="0.05" />
								<f:selectItem itemValue="0.06" itemLabel="0.06" />
								<f:selectItem itemValue="0.07" itemLabel="0.07" />

							</h:selectOneListbox></td>
					</tr>
					<tr>
						<td>Number of Years:</td>
						<td><h:inputText id="numberOfYears"
								value="#{webServiceBean.year}" required="true"
								requiredMessage="Please enter the number of years!"
								validatorMessage="Number of years nust be greater than or equal to 1">
								<f:converter converterId="javax.faces.Integer" />
								<f:validateLongRange minimum="1" />
							</h:inputText></td>
						<td></td>
					</tr>
					<!-- <tr>
				<td>Monthly Payment:</td>
				<td colspan="3"><h:outputLabel id="monthlyPayment"
						value="#{loanManagedBean.loan.monthlyPayment}">
						<f:convertNumber currencyCode="AUD" type="currency" />
					</h:outputLabel></td>
			</tr> -->
					<tr>
						<td colspan="4"><h:commandButton
							class="btn btn-primary"
							id="calculate"
								value="Calculate"
								action="#{webServiceBean.setWebServiceClient()}" /></td>

					</tr>
				</table>
			</h:form>
		</f:view>
		<p><a style="margin-top: 3rem" class="btn btn-success" href="webresources/mortgage">View Mortgage Payment </a></p>
	</div>
</h:body>
</html>